 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	margin:1em auto;
	background: #527c84;
	font-family: 'Montserrat', sans-serif;


}
.texti {
	grid-area:texti;
	border-right:0px solid black;
	padding: 15px;
	font-size: 20px;


}
.mynd {
	grid-area: mynd;
    width: 10px;
    height: auto;
    padding-top: 40px;
}
.wrapper {
	display: grid;
	grid-template-areas: "texti  mynd";
	grid-template-columns: 2fr 1fr;

}
header {
	text-align: center;
	padding-bottom: 30px;
}
li {
	padding:3px;
}
ul {
	list-style-type:none;
}
.slider
        {
            width: 800px;
            height: 400px;
            background-color: black;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
        
        .myndir
        {
            width: 2400px;
            background-color: black;
            height: 400px;
            clear: both;
            position: relative;
            
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
        
        .slider-mynd
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
        
        #slider-mynd-1:target ~ .myndir
        {
            left: 0px;
        }
        
        #slider-mynd-2:target ~ .myndir
        {
            left: -800px;
        }
        
        #slider-mynd-3:target ~ .myndir
        {
            left: -1600px;
        }
        
        .takki
        {
            position: relative;
            top: -20px;
        }
        
        .slider-breyting
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: black;
        }
        <adadadw