 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	margin:1em auto;
	background: #466368;

}
.texti {
	grid-area:texti;
	border-right:1px solid black;
}
.mynd {
	grid-area: mynd;
}
.wrapper {
	display: grid;
	grid-template-areas: "texti  mynd";
	grid-template-columns: 2fr 1fr;
}
header {
	text-align: center;

}